In [1]:
# Dependencies
import pandas as pd

In [3]:
# Set file path(s)
school = "Resources/schools_complete.csv"
student = "Resources/students_complete.csv"

# Read files as panda dataframes
school_df = pd.read_csv(school)
student_df = pd.read_csv(student)

# Combine files into a single dataset
complete_data = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
complete_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [26]:
# Create dataframe for district's metrics: Total schools, total students, total budget, average math score,
    # average reading score, % passing math, % passing reading, % overall passing
total_schools = complete_data["school_name"].nunique()
total_students = complete_data["student_name"].count()
total_budget = school_df["budget"].sum()
avg_math = complete_data["math_score"].mean()
avg_reading = complete_data["reading_score"].mean()
pass_math = complete_data[""]


avg_reading

81.87784018381414